.home-main-section{
    /* background-color: rgb(123, 87, 156); */
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-grow: 1;
}


.home-main-section .img-wrapper{
    /* background-color: cornflowerblue; */
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}


.home-main-section .ladyimage{
    flex-grow: 1;
    /* background-color: darkgoldenrod; */
    background-image: url(images/landing-page-girl.png);
    max-height: 70vh;
    min-width: 30vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;

}


.call-to-action{

    flex-grow: 1;

    /* background-color: darkgoldenrod; */
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items:flex-start ;

    align-self: center;

}


@media(max-width:900px){
    .home-main-section .img-wrapper{
        display: none;
    }

}


.homepage-circle1{

    width: 15vw;
    height: 15vw;
    background-color:rgb(255, 0, 184,.1);
    position: absolute;
    border-radius: 50%;
    bottom: 5vw;
    left: 5vw;
    z-index: -1;
  }

  .homepage-circle2{

    width: 15vw;
    height: 15vw;
    background-color:rgb(5, 126, 186,.1);
    position: absolute;
    border-radius: 50%;
    top: 15vh;
    left: 30vw;
    z-index: -1;
  }

  .homepage-circle3{
    width: 30vw;
    height: 30vw;
    /* background-color:rgb(5, 126, 186,.5); */
    position: absolute;
    /* border-radius: 50%; */
    bottom: 0;
    right: 0;
    overflow: hidden;

    z-index: -1;
  }

  .homepage-circle3::before{
      transform: translate(40%,40%);
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      background-color:rgb(5, 126, 186,.1);
      
  }

  /* https://www.youtube.com/watch?v=RZ-Oe4_Ew7g&t=1036s */