@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    color: white;
}

/* This has to be removed */
html {
    /* background-color: blue; */
    /* background-color:#2F303A; */
  }

.container{
    background-color:#2F303A;
    font-family: Poppins,sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    min-height: 100vh;
}

.main-footer .container{
    display: flex;
    justify-content: space-between;
}

.main-footer{

    display: flex;
    flex-direction: column;

} 

.full-height-grow{
    display: flex;
    flex-direction: column;
}

.logo{
    display: flex;
    align-items: center;
}

.brand-logo{
    margin-left: 20px;
    text-decoration: none;
}

.nav-links,.footer-nav ul{
    display: flex;
    list-style: none;
}


.nav-links li{
    margin-left: 20px;   
}

.nav-links a,.footer-nav a{
    text-decoration: none;
}

header,.main-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    height: 140px;
}


.nav-links a:hover,
.footer-nav a:hover{
    color: #adadad
}


.title{
    font-size: 3rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 1rem;
}

.subtitle{
font-weight: 500;
font-size: 1.2rem;
}


.btn{
    margin-top: 1.5rem;
    background-color: #057EBA;
    border-radius: .5rem ;
    padding: .75rem 1.5rem;
    text-decoration: none;
    font-size: .9rem;
}
